{% import_yaml "mysql/defaults.yaml" as default_settings %}

{% set os_map = salt['grains.filter_by']({

  'Debian': {
    'server': 'mysql-server',
    'client': 'mysql-client',
    'server_conf': '/etc/mysql/mysql.conf.d/mysqld.cnf',
    'server_conf_source': 'salt://mysql/files/deb_mysqld.cnf',
    'service': 'mysql',
    'python': 'python-mysqldb',
  },
  'RedHat': {
    'server': 'mariadb-server',
    'client': 'mariadb',
    'server_conf': '/etc/my.cnf.d/server.cnf',
    'server_conf_source': 'salt://mysql/files/rh_server.cnf',
    'service': 'mariadb',
    'python': 'MySQL-python',
  },

}, grain='os_family', merge=salt['pillar.get']('mysql')

)%}

{% do default_settings.mysql.update(os_map) %}

{% set mysql = salt['pillar.get'](
    'mysql',
    default=default_settings.mysql,
    merge=True)
%}
